

//These are fonts imported in the head of index form google

//font-family: 'Clicker Script', cursive;
//font-family: 'Fascinate Inline', cursive;
//font-family: 'Griffy', cursive;
//font-family: 'Open Sans', sans-serif;


//dropdown

nav {
  background-color: inherit; //for some reason this works with line 23
  display: block
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333; // line 23
}
/* tHIS IS THE CSS FOR THE GRAY VERTICAL BARS IN BETWEEN MENU*/
li {
   border-right: 1px solid #bbb;
}

li:last-child {
   border-LEFT: none;
}

/* THIS IS WHERE PREVIOUS COMMENT ENDS */
li {
   float: left;
}

li a, .dropbtn {
   display: inline-block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
   background-color: red;
}

li.dropdown {
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: white ;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
   z-index: 1;
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
}

.dropdown-content a:hover {background-color: #E1E1E1}

.dropdown:hover .dropdown-content {
   display: block;
}


/* THIS IS THE CSS NEEDED FPR A MENU ICON ILL KEEP MIT COMMENT ED OUT UNTIL WE DECIDE IF ITS NECCESSARY
#######################################################################################################
.container {
   display: inline-block;
   cursor: pointer;
}

.bar1, .bar2, .bar3 {
   width: 35px;
   height: 5px;
   background-color: WHITE;
   margin: 6px 0;
   transition: 0.4s;
}

.change .bar1 {
   -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
   transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
   -webkit-transform: rotate(48deg) translate(-8px, -8px) ;
   transform: rotate(45deg) translate(-8px, -8px) ;
}
########################################################################################################
*/
